#containerHeader {
    flex-direction: column;
}
.liMenu--list{
    margin: 0px;
}
.liMenu--list a {
    list-style: none;
}
.Navmenu{
    margin-left: -3%;
    margin-right: -3%;
}
.mobile--header {
    display: flex;
    justify-content: space-between;
}ul {
    padding: 0px;
}
.mobile--header a {
    display: inline-block;
    padding: 0px;
    border: none;
    font-weight: 900;
    font-size: 1.2rem;
    opacity: 1;
    color: #0065fc;
    
}
.liMenu--list_blue {
    border: none;
}
.liMenu--list_nocolor{
    border-bottom: 4px solid lightgrey;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.liMenu--list_nocolor:hover{
    color: red;
    border-bottom: 4px solid #0065fc;
}
.liMenu--list_nocolor a:hover{
    color: #0065fc;
}
.liMenu{
    display: flex;
    justify-content: space-around;  
}
.link--navbar {
    border-top: none;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.blue--mobile:hover{
    color: #0065fc;
    opacity: 1;
}

.liMenu--list_blue{
    border: none;
    display: none;
}

.link--navbar:hover {
    border-top: none;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.05rem;
}
.search {
    display: none;
}
.fa-search {
    display: inline;
    opacity: 1;
    position: relative;
}
.btn--second {
    border-radius: 10px 10px 10px 10px;
    width: 25px;
    margin-left: -15px;
}
.text--input{
    width: 160px;
}
/*filtres and information*/

/*Section hebergement and populaire*/
#containerHebergementAndPopulaire {
    justify-content: center;
}
#containerHebergement {
    order: 2;
    margin-left: -3%;
    margin-right: -3%;
    background-color: white;
}
#containerHebergement h1{
    margin-left: 15px;
}
#containerPopulaire {
    border-radius: 0px;
    order: 1;
    margin-left: -3%;
    margin-right: -3%;
}
.figure--hebergement {
    width: 340px;
}
.figure--hebergement img {
    width: 340px;
    height: 120px;
}
#figure--position--hebergement{
    margin-left: 0px;
    margin-right: 0px;
}
#figure--position--populaire {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
}
.figcaption--populaire {
    margin-left: 5px;
    width: 154px;
    font-size: 12px;
}

/* filtre */
#containerFiltre {
    display: flex;
    margin-top: 0px;
    flex-wrap: wrap;
    margin-left: -30px;
}
.filtre--texte--desktop {
    display: none;
}
.filtre:hover {
    transform: none;
}
.filtre--texte {
    display: inline-block;
    margin-top: 15px;
    font-weight: 900;
    margin-left: 4px;
}
.filtre {
    margin-top: 15px;
}
.p--afficherPlus {
    margin-left: 16px;
}
/* Activités à Marseille */
#containerActivites {
    margin-top: 30px;
}
#containerActivites h1{
    margin-left: 7px;
}
#figure--position--activites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
}
.link--activites {
    border-radius: 10px;
    margin: 10px;
}
.figure--activites img {
    width: 340px;
    height: 180px;
}
.figure--activites--double--larger img {
    width: 340px;
    height: 180px;
}
.figure--activites--double--smaller img {
    width: 340px;
    height: 180px;
}
.figure--activites--double--normal img {
    width: 340px;
    height: 180px;
}
/*footer*/
footer {
    background: #f2f2f2;
    margin-top: 0px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-left: -3%;
    margin-right: -3%;
    
}
#navbar--footer--first ul,
#navbar--footer--second ul,
#navbar--footer--third ul {
    margin-left: 20px;
}
