body {
    margin: 0;
    padding: 0;
    margin-left: 3%;
    margin-right: 3%;
    font-family: "Raleway";
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
/* Header + H1 H2 */
#containerHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.navMenu,
.liMenu {
    display: flex;
}
.liMenu--list {
    margin: 10px;
    list-style: none;
    text-decoration: none;
}
.liMenu--list_blue {
    color: #0065fc;
}
.link--navbar {
    color: black;
    opacity: 0.6;
    font-size: 1.3rem;
    padding-left: 25px;
    padding-right: 25px;
    border-top: 4px solid white;
    padding-top: 52px;
}
.link--navbar:hover {
    color: #0065fc;
    border-top: 4px solid #0065fc;
    padding-top: 52px;
}
h1 {
    font-size: 1.42rem;
}
h2 {
    font-size: 1rem;
    margin-top: -10px;
    font-weight: 100;
    opacity: 0.8;
}
/* Localisation, input and rechercher btn */
#containerBtn {
    display: flex;
}
.btn--first,
.btn--second {
    padding: 14px;
    font-size: 19px;
    text-align: center;
}
.btn--first {
    border-radius: 10px 0px 0px 10px;
    background-color: #f2f2f2;
    font-size: 19px;
    width: 20px;
    border: 1px solid #f2f2f2;
}
.btn--second {
    border-radius: 0px 10px 10px 0px;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    width: 100px;
    border: 1px solid #0065fc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.text--input {
    padding: 14px;
    border: 1px solid #f2f2f2;
    width: 220px;
    font-size: 19px;
    outline: none;
}
/*filtres and information*/
#containerFiltre {
    display: flex;
    margin-top: 30px;
    font-weight: 900;
    align-items: center;
}
.filtre {
    border: 2px solid rgb(236, 236, 236);
    padding-right: 16px;
    border-radius: 30px;
    margin-left: 30px;
}
.filtre i {
    padding: 16px;
    border-radius: 100px;
    margin-right: 10px;
    color: blue;
    background-color: #deebff;
    margin-left: -2px;
    margin-top: -2px;
    margin-bottom: -2px;
    border: 1px solid #deebff;
    width: 16px;
    text-align: center;
    cursor: pointer;
}
.filtre-dollar i {
    padding-left: 13px;
}
#information {
    margin-top: 35px;
    display: flex;
    align-items: center;
}
#information i {
    border: 1px solid rgb(202, 202, 202);
    padding: 8px;
    border-radius: 100%;
    color: #0065fc;
    text-align: center;
    width: 12px;
    margin-right: 15px;
    font-size: 12px;
}
/*Section hebergement and populaire*/
#containerHebergementAndPopulaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
#containerHebergement {
    width: 1000px;
    background-color: #f2f2f2;
    border-radius: 15px;
}
#containerHebergement h1 {
    margin-left: 42px;
    margin-top: 40px;
}
.figure--hebergement {
    width: 260px;
    padding: 6px;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    margin-top: 20px;
    box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
}
.figure--hebergement img {
    width: 260px;
    height: 120px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
#figure--position--hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.figcaption--hebergement {
    line-height: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.cost--location--hebergement {
    margin-top: 23px;
}
.p--afficherPlus {
    margin-left: 50px;
    margin-top: 30px;
    font-weight: 900;
    margin-bottom: 40px;
    font-size: 1.15rem;
}
#containerPopulaire {
    width: 440px;
    background-color: #f2f2f2;
    border-radius: 10px;
}
#containerPopulaire h1 {
    margin-left: 30px;
    margin-right: 21px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.figure--populaire {
    width: 370px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 6px;
    display: flex;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
}
.figure--populaire img {
    width: 130px;
    height: 150px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}
.figure--populaire i {
    margin-top: 30px;
}
#figure--position--populaire {
    display: flex;
    flex-direction: column;
}
.figcaption--populaire {
    margin-left: 24px;
    width: 160px;
}
.name--location--populaire {
    margin-top: 10px;
}
.cost--location--populaire {
    margin-top: -10px;
}
figcaption i {
    color: #0065fc;
}
.name--location--hebergement,
.name--location--populaire {
    font-weight: bold;
    font-size: 1.1rem;
}
/* Activités à Marseille */
#containerActivites {
    margin-top: 30px;
}
#figure--position--activites {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.figure--activites {
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    border: 1px solid #f2f2f2;
    padding: 0px;
    margin: auto;
}
.figure--activites img {
    width: 320px;
    height: 390.5px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.figcaption--activites {
    align-items: center;
    margin-left: 30px;
    font-weight: bold;
}
.figure--double {
    display: flex;
    flex-direction: column;
    margin-top: -16px;
}
.figure--activites--double--larger {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
}
.figure--activites--double--larger img {
    width: 320px;
    height: 180px;
}
.figure--activites--double--smaller {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
}
.figure--activites--double--smaller img {
    width: 320px;
    height: 120px;
}
.figure--activites--double--normal {
    width: 320px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
}
.figure--activites--double--normal img {
    width: 320px;
    height: 151px;
}
.figure--activites--double--normal img,
.figure--activites--double--larger img,
.figure--activites--double--smaller img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    padding: 0px;
}
/*footer*/
#containerFooter {
    background: #f2f2f2;
    margin-left: -3%;
    margin-right: -3%;
    margin-top: 0px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}
#navbar--footer--first ul,
#navbar--footer--second ul,
#navbar--footer--third ul {
    list-style: none;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}
.footer--title {
    font-weight: bold;
}

