/* NO SASS : 
$primary-color: #0065FC;
$secondary-color: #DEEBFF;
$third-color: #F2F2F2;
*/

/*HEADER*/
body {
    margin: 0;
    padding: 0;
    margin-left: 4%;
    margin-right: 4%;
    font-family: "Raleway";
}
header {
    margin-top: 30px;
}
nav ul {
    display: flex;
}
li {
    margin: 10px;
    list-style: none;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    font-size: 1.3rem;

    padding-left: 25px;
    padding-right: 25px;
}
a:hover {
    color: #0065fc;
    border-top: 4px solid #0065fc;
    padding-top: 52px;
}
.blue {
    color: #0065fc;
}
h1 {
    font-size: 1.42rem;
}
h2 {
    font-size: 1rem;
    margin-top: -10px;
    font-weight: 100;
    opacity: 0.8;
}
#container--input {
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.text--input {
    padding: 14px;
    border: 1px solid #f2f2f2;
    width: 220px;
    font-size: 19px;
    outline: none;
}
.btn--first {
    border-radius: 10px 0px 0px 10px;
    background-color: #f2f2f2;
    font-size: 19px;
    width: 20px;
    text-align: center;
    border: 1px solid #f2f2f2;
}
.btn--second {
    border-radius: 0px 10px 10px 0px;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    width: 100px;
    text-align: center;
    border: 1px solid #0065fc;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.btn--first,
.btn--second {
    padding: 14px;
    font-size: 19px;
}
.container--header {
    display: flex;
    justify-content: space-between;
}
/*Section filtre*/

.container--section--second {
    display: flex;
    margin-top: 20px;
}
#text--filtre {
    display: flex;
    margin-top: 40px;
    font-size: 19.5px;
    font-weight: bold;
    align-items: center;
}
.filtre {
    border: 2px solid rgb(236, 236, 236);
    padding-right: 16px;
    border-radius: 30px;
    margin-left: 30px;
}
.filtre i {
    padding: 16px;
    border-radius: 100px;
    margin-right: 10px;
    color: blue;
    background-color: #deebff;
    margin-left: -2px;
    margin-top: -2px;
    margin-bottom: -2px;
    border: 1px solid #deebff;
    width: 21px;
    text-align: center;
    cursor: pointer;
}
.filtre--eco i {
    padding-left: 13px;
}
#information {
    margin-top: 35px;
    display: flex;
    align-items: center;
}
#information i {
    border: 1px solid rgb(202, 202, 202);
    padding: 8px;
    border-radius: 100%;
    width: 12px;
    text-align: center;
    margin-right: 15px;
    font-size: 12px;
    color: #0065fc;
}
